# Option list for the Einstein Toolkit

# The "weird" options here should probably be made the default in the
# ET instead of being set here.

# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = carpetx-docker-cpu-2021-03-21

CPP = cpp
CC = gcc
CXX = g++
FPP = cpp
FC = gfortran
F90 = gfortran

CFLAGS = -pipe -g -march=native -std=gnu11
CXXFLAGS = -pipe -g -march=native -std=gnu++17
FPPFLAGS = -traditional
F90FLAGS = -pipe -g -march=native -fcray-pointer -ffixed-line-length-none

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

# -fsanitize=address
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS = -fbounds-check -fsanitize=undefined -fstack-protector-all -ftrapv
CXX_DEBUG_FLAGS = -fbounds-check -fsanitize=undefined -fstack-protector-all -ftrapv
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
F90_DEBUG_FLAGS = -fcheck=bounds,do,mem,pointer,recursion -finit-character=65 -finit-integer=42424242 -finit-real=nan -fsanitize=undefined -fstack-protector-all -ftrapv

C_OPTIMISE_FLAGS = -O3 -fcx-limited-range -fexcess-precision=fast -fno-math-errno -fno-rounding-math -fno-signaling-nans -funsafe-math-optimizations
CXX_OPTIMISE_FLAGS = -O3 -fcx-limited-range -fexcess-precision=fast -fno-math-errno -fno-rounding-math -fno-signaling-nans -funsafe-math-optimizations
F90_OPTIMISE_FLAGS = -O3 -fcx-limited-range -fexcess-precision=fast -fno-math-errno -fno-rounding-math -fno-signaling-nans -funsafe-math-optimizations

OPENMP = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -D_OPENMP

# -fanalyzer: finds only possible null dereferences in std::vector
WARN = yes
CPP_WARN_FLAGS = -Wall
C_WARN_FLAGS =
CXX_WARN_FLAGS =
FPP_WARN_FLAGS = -Wall
F90_WARN_FLAGS = -Wall -Wshadow -Wsurprising

VECTORISE = yes
VECTORISE_INLINE = yes

AMREX_DIR = /opt/view
ASDF_CXX_DIR = /opt/view
BOOST_DIR = /usr
FFTW3_DIR = /usr
GSL_DIR = /usr
HDF5_DIR = /opt/view
HDF5_ENABLE_CXX = yes
HWLOC_DIR = /usr
JEMALLOC_DIR = /usr
MPI_DIR = /usr
OPENBLAS_DIR = /usr
PTHREADS_DIR = NO_BUILD
SILO_DIR = /opt/view
SIMULATIONIO_DIR = /opt/view
SSHT_DIR = /opt/view
YAML_CPP_DIR = /opt/view
ZLIB_DIR = /usr
