# Configuration for an frontera installation: gcc

# Whenever this version string changes, the application is configured 
# and rebuilt from scratch 
VERSION = frontera-2022-11-22

CPP = cpp
FPP = cpp
CC  = gcc
CXX = g++
F77 = gfortran
F90 = gfortran

CPPFLAGS = -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -traditional
CFLAGS   = -pipe -g3 -march=native -std=gnu11
CXXFLAGS = -pipe -g3 -march=native -std=gnu++17
F77FLAGS = -pipe -g3 -march=native -fcray-pointer -ffixed-line-length-none -fno-range-check
F90FLAGS = -pipe -g3 -march=native -fcray-pointer -ffixed-line-length-none -fno-range-check
LDFLAGS  = -rdynamic

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DEBUG           = yes
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0

OPTIMISE           = no
CPP_OPTIMISE_FLAGS = -DKRANC_VECTORS # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 -ffast-math -fno-finite-math-only
CXX_OPTIMISE_FLAGS = -O2 -ffast-math -fno-finite-math-only
F77_OPTIMISE_FLAGS = -O2 -ffast-math -fno-finite-math-only
F90_OPTIMISE_FLAGS = -O2 -ffast-math -fno-finite-math-only

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS = -Wall
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS   = -Wall
CXX_WARN_FLAGS = -Wall
F77_WARN_FLAGS = -Wall
F90_WARN_FLAGS = -Wall

MPI_DIR = /opt/intel/compilers_and_libraries_2020.4.304/linux/mpi/intel64
MPI_LIB_DIRS = /opt/intel/compilers_and_libraries_2020.4.304/linux/mpi/intel64/lib/release
MPI_INC_DIRS = /opt/intel/compilers_and_libraries_2020.4.304/linux/mpi/intel64/include
MPI_LIBS = mpi

GSL_DIR = /opt/apps/intel19/gsl/2.6
FFTW3_DIR = /opt/apps/intel19/impi19_0/fftw3/3.3.10
#PETSC_DIR = /usr
#PETSC_ARCH_LIBS = m
HWLOC_DIR = /opt/apps/hwloc/1.11.12

BLAS_DIR = NO_BUILD
BLAS_LIBS = # /opt/intel/compilers_and_libraries_2020.1.217/linux/mkl/lib/intel64
OPENBLAS_DIR = NO_BUILD
OPENBLAS_LIBS = # /opt/intel/compilers_and_libraries_2020.1.217/linux/mkl/lib/intel64
LAPACK_DIR = NO_BUILD
LAPACK_LIBS = # /opt/intel/compilers_and_libraries_2020.1.217/linux/mkl/lib/intel64

PTHREADS_DIR = NO_BUILD

ADIOS2_DIR = /home1/08708/liwei/Cactus_gcc/view
ADIOS2_LIB_DIRS = /home1/08708/liwei/Cactus_gcc/view/lib64
AMREX_DIR = /home1/08708/liwei/Cactus_gcc/view
NSIMD_DIR = /home1/08708/liwei/Cactus_gcc/view
NSIMD_ARCH = AVX512_SKYLAKE
NSIMD_OPTIONS =  #AVX2 FMA
OPENPMD_API_DIR = /home1/08708/liwei/Cactus_gcc/view
OPENPMD_DIR = /home1/08708/liwei/Cactus_gcc/view
SSHT_DIR = /home1/08708/liwei/Cactus_gcc/view
SILO_DIR = /home1/08708/liwei/Cactus_gcc/view
YAML_CPP_DIR = /home1/08708/liwei/Cactus_gcc/view
ZLIB_DIR = /home1/08708/liwei/Cactus_gcc/view
